*~
*.out
*.swp
*.DS_Store

# Compiled Object files
*.slo
*.lo
*.o
*.class
*.pyc

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a


FDT.xcodeproj/project.xcworkspace/*
FDT.xcodeproj/xcuserdata/*


CIS182/codes/t.java
ENV
